<div ng-app="app">
	<div ng-controller="workoutsCtrl" ng-init="setUpShow()">
		<div class="container-fluid">
            <div class="header text-center">
	            <h2> {{workout.name}} </h2>
	            <h4> {{workout.day}} </h4>
	            <h4> {{workout.duration}} Minutes</h4>
        	</div>
        </div>
		
		<div class = "row">

		<div ng-repeat="workoutExercise in workoutExercises">
			<div class="clearfix" ng-if="$index % 3 == 0"></div>
			  <div class = "col-md-4">
			    <div class = "card card-product">
			        <div class="card-image" data-header-animation="true">
			            <a href="#pablo">
			                <img class="img" src="/img/card-3.jpeg">
			            </a>
			        </div>
			        <div class="card-content">
			          <div class="card-actions">
			              <h5>{{workoutExercise.equipment}}</h5>
			              <h6>{{workoutExercise.difficulty}}</h6>
			              <h6>{{workoutExercise.body_parts}}</h6>
			          </div>
			          <h4 class="card-title">
			              <a href="#pablo">{{ workoutExercise.name }}</a>
			          </h4>
			          <div class="card-description">
			              {{ workoutExercise.description }}
			          </div>
			          <div class="row">
			          	<button ng-click="addworkoutExercise(workoutExercise.id, workout.id)" class="btn btn-success btn-sm center-block" onclick="demo.showSwal('success-message')">Add</button>
			          </div>


			        </div>
			    </div>
			  </div>
			</div>
		</div>

	</div><!-- Closes ng-controller -->
</div><!-- Closes ng-app -->